<!DOCTYPE html>
<html>
    <head> <style>
        .tig1  {
        
row-gap: 10px;
}

        .tig2{
            row-gap: 10px; 
        }
    </style> </head>
        <body>
           
            <div  class="tig1" style="display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap :20px;
          ">
        <div style="background-color: pink;">c1</div>    
        <div style="background-color: pink;">c2</div>
        <div style="background-color: pink;">c3</div>
        <div style="background-color: pink;">c4</div>
        </div>

        <div  class="tig2" style="display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap :20px;
        row-gap:10px;">
            
        
    <div style="background-color: pink;">c1</div>    
    <div style="background-color: pink;">c2</div>
    <div style="background-color: pink;">c3</div>
    <div style="background-color: pink;">c4</div>
    </div>
        </body>
   
</html>